.body-color {
    background-color: black;
}

#header-image {
    margin-bottom: 50px;
}

h4 {
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}

.container {
    margin-top: 50px;
}

.card {
    display: flex;
    text-align: center;
    text-transform:capitalize;
    margin-bottom: 25px;
    
    
    
}

.button-colors {
    background-color: #ffde59;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 15px 5px 15px;

}

#pokeName {

}


.pokeImage {

}